/**
 * All of the CSS for your admin-specific functionality
 */

.content-otter-main {
  max-width: 720px;
  margin:0 auto;
  margin-top:40px;
}
.content-otter-main .padding-top-15{
  padding-top:15px;
}
