/**
 * All of the CSS for your admin-specific functionality
 */

.content-otter-main {
  max-width: 720px;
  margin:0 auto;
  margin-top:40px;
}
.content-otter-main #overlay{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.8);
  display: none;
}
.content-otter-main #overlay img{
  top: 32vh;
  position: absolute;
  left: 42vw;
}
.content-otter-main .insert-draft{
  display:none;
}
.content-otter-main .padding-top-15{
  padding-top:15px;
}
.content-otter-main input{
  width:100%;
  padding:15px;
  font-size: 22px;
  margin-bottom: -15px;
}
.content-otter-main .btn{
  padding:15px;
  width:100%;
  font-size: 22px;
  margin-bottom:15px;
  margin-top:15px;
}
.content-otter-main blockquote{
      color: #1fb6ff!important;
      max-width: 720px;
      margin:0 auto;
}

.content-otter-main #responseText h1, .content-otter-main header{
      max-width: 720px;
      margin:0 auto;
      margin-bottom: 20px;
}

.content-otter-main #responseText{
  background: #fff;
  padding:10px;
}



.content-otter-main a{
  color:#1fb6ff!important;
}


.content-otter-main img{
  max-width:100%;
  height: auto;
  display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top:20px;
}

.content-otter-main figcaption{
  text-align: center;
  padding: 10px;
  max-width: 720px;
  margin:0 auto;

}

.marginb-20{
  margin-bottom:20px;
}

 #loading-otter{
   display: none;
   clear:both;
   text-align: center;
 }

#loading-otter img{
  padding:10px;
}
#loading-otter h3{
  padding:10px;
}

.content-otter-main h2{
  margin-left: auto;
  margin-right: auto;
}
